/*light blue = #9bcfd7;*/



*{ box-sizing: border-box;font-weight: 100; }

body, html {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  background-color: #efeff4;
  font-family: 'Roboto', sans-serif;
  /*overflow-x: hidden;*/
 
}

h1{font-size: 2.5em; color: black;}

h2{font-size: 1.5em;color: white;}

h3 {font-size: 1.1em;color: black;}

p { font-size: 1.1em;color: white;}

a {text-decoration: none !important;}

.button {
  width: 80%;
  border: none;
  font-size: 16px;
  background-color: #9bcfd7;
  color: white;
  padding: 12px 20px;
  margin: 2%;
  font-weight: 100;
}

.desktop{padding: 10%;}
.desktop img {width: 40%;}

.mobile{padding-top: 23%; position: relative;}


.responsive { 
  display: flex;
  justify-content: center;
  width: 85%;
  margin: auto;
  position: relative;
}

.responsive img{
  width: 85%;
  position: relative;
}

.nav {
  position: fixed;
  width: 100%;
  background-color: #114260;
  height: 70px;
  z-index: 3;
}

.nav img {
  position: relative;
  float: left;
  width: 5%;
  padding-top: 2%;
}



footer {
 
    position: fixed;
   bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    color: white;
    background-color: #114260;
}


footer p{
  display: inline-block;
  padding: 2% 8%;
}



/*Button Slider*/
.switch {
  position: relative;
  display: inline-block;
  float: right;
  width: 60px;
  height: 34px;
  margin: 3%;

}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #9bcfd7;
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

h3{
display: flex;
 float: left;
 margin: 3%;

}

#map {

  width: 80%;
  height: 50%;
  padding-top: 80%;
  margin: auto;
}

/* The container */
.container {
    display: inline-flex;
    position: relative;
    padding-left: 30px;
  
    cursor: pointer;
  
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ccc;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #9bcfd7;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #9bcfd7;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}


input{
 
  background-color: white; 
  font-family: 'Roboto', sans-serif; 
  float: right;
  margin: 3%;
  padding: 2%;
  border: 1px solid #9bcfd7;
}

#days{padding-top: 20%;}





@media (max-width: 500px) {
 
  .desktop{display: none;}
  .mobile{display: show;}

}

@media (min-width: 500px) {
  
  body{background-color: #114260;}
  .desktop{display: show;}
  .mobile {display: none;}
  .nav{display: none;}
  footer{display: none;}
  .login {display: none;}

}




@media (min-width: 1000px) {
  
  body{background-color: #114260;}
  .desktop{display: show;}
  .mobile {display: none;}
  .nav{display: none;}
  footer{display: none;}
  .login {display: none;}
  .desktop{padding: 5%;}
.desktop img {width: 20%;}

}







